html, body {
	margin:0;
	padding:0;
}

header {
	background-color: #323031;
	padding: 1% 2% 1% 2%;
	font-family: "Ubuntu", "Roboto", sans-serif;
	line-height: 0em;
}

img {
	max-width: 90%;
	height: auto;
}

.fixed-header h1 {
	font-size: 22pt;
	letter-spacing: 0.2rem;
	color: #FFFFFF;
	font-variant: small-caps;
	line-height: 1em;
}

.fixed-header h2 {
	font-family: "Hedvig Letters Serif", "Lora", serif;
	font-size: 14pt;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0.1rem;
	color: #FFFFFF;
}

.portfolio {
	padding: 1%;
	font-family: "Ubuntu", "Roboto", sans-serif;
}

.portfolio h1 {
	font-size: 26pt;
	color: #DB3A34;
	text-transform: uppercase;
	line-height: 0.5em;
	text-align: center;
	padding-top: 2%;
	letter-spacing: 0.3rem;
	margin-top: 2rem;
}

.portfolio p {
	margin-bottom: 1rem;
}

.portfolio hr {
	width: 7%;
	align: center;
	border-top: 2px solid #177E89;
}

.gallery {
	padding: 0.5%;
	font-family: "Ubuntu", "Roboto", sans-serif;
	background-color: #177E89;
}

table.gallery {
	align: center;
	padding: 0.25rem;
	vertical-align: top;
	background-color: #177E89;
	margin: 5% 10% 5% 10%;
	
}

.gallery th {
	width: 320px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.gallery td {
	width: 290px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

td.desc {
	padding: 5px 15px 5px 15px;
	font-size: 11pt;
	color: #FFFFFF;
	line-height: 1.25em;
	vertical-align: top;
}

.desc a {
	color: #FFC857;
	text-decoration: none;
	font-size: 14pt;
	font-weight: 600;
	letter-spacing: 0.1rem;
	font-variant: small-caps;
}

a.noformat {
	font-size: 11pt;
	color: #FFC857;
	line-height: 1.25em;
	text-decoration: none;
	font-variant: none;
	font-weight: normal;
	letter-spacing: normal;
	font-style: italic;
}

.desc a:hover {
	color: #FFC857;
	text-decoration: underline;
}

p.ref {
	font-style: italic;
	font-size: 9pt;
}

div.gallery2 {
	column-count: 1;
	column-gap: 15px;
	background-color: #177E89;
	margin: 4% 8% 4% 8%;
}